.fbEmuPreview{background-color:#fff;padding:10px;width:254px}
._2er4{position:absolute;right:0;top:0}._mot{position:relative;text-align:center}._2er3{width:100%}

#bootloader_n06g6{height:42px;}.bootloader_n06g6{display:block!important;}