.otherActive~._28r-{pointer-events:auto}
._287i{display:inline-block;font-size:12px;line-height:22px;vertical-align:middle}
.fbPhotoSnowliftContainer .uiTypeaheadView .hintText{display:none}
._20nn{left:-1px;top:0}._1g8y{left:0;top:0}._20no{left:-3px;top:0}
._agk{margin-right:3px;max-height:16px;max-width:16px;vertical-align:-2.9px}
.flashFallbackButton{text-align:center}
.sp_gTlIMMtbro4_1_5x{background-image:url(/rsrc.php/v3/y5/r/Fijx-en_34N.png);background-size:16px 32px;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_gTlIMMtbro4_1_5x.sx_cf1e8e{width:12px;background-position:0 -16px}.sp_gTlIMMtbro4_1_5x.sx_8ee565{background-position:0 0}

#bootloader_oFl13{height:42px;}.bootloader_oFl13{display:block!important;}